@model ICollection<ApplicationUser>
@{
    <h1>Users</h1>
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    @if (@Model != null && @Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@user.Email</th>
                        <td>
                            <a type="button" class="btn btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                        </td>
                        <td>
                            <a type="button" class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>