@{
    ViewData["Title"] = "Burial Database";
}

<h1>Burial Site Database</h1>

<p>Here is our database of the different burials our team has discovered.  Use our built in filters to explore the data.</p>


@model BurialmainsViewModel


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>


            <td>Textile color</td>
            <td>Textile structure</td>
            <td>Sex</td>
            <td>Burial Depth</td>
            <td>Estimate Stature</td>
            <td>Age at Death</td>
            <td>Head Direction</td>
            <td>Burial ID (SquareNorthSouth, NorthSouth, SquareEastWest, EastWest, Area, Burial Number)</td>
            <td>Textile Function</td>
            <td>Hair Color</td>
        </tr>
    </thead>
    <tbody>
        @foreach (BurialComposite item in Model.ListBurials)
         {
                <tr key="@item.burial.Id">
                    <td>@item.burial.Hair</td>
                </tr>
         }
    </tbody>
</table>