@{
    ViewData["Title"] = "Burial Database";
}

<h1>Burial Site Database</h1>

<p>Here is our database of the different burials our team has discovered.  Use our built in filters to explor the data.</p>

