@{
    ViewData["Title"] = "Home Page";
}
<header class="py-5 bg-image-full" style="background-image: url('/img/egypt-pyramids-sky-dusk-orange-background-1637215-pxhere.com4.jpg'); background-size: 100% auto;">
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">Fag el-Gamous</h1>
        <p class="text-white-50 mb-0">Home Page</p>
    </div>
</header>
<br />
<div class="text-center">
    <h1 class="display-4">Fag el-Gamous</h1>
    <h3>About</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies. Detailed background information on this site can be found in the academic article “<a href="https://www-sciencedirect-com.erl.lib.byu.edu/science/article/pii/S2352409X15000188">Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt</a>."
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping, sex, age, bone dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs. Offsite, researchers have performed a variety of analyses on the excavated items including carbon dating, DNA sequencing, and others.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <p>The purpose of this website is primarily to share the wonderful findings discovered in Fag el-Gamous! Researchers and interested people alike can glean information from our publicly available database. In addition, authorized researchers can view, filter, and query the data in many ways to answer a variety of academic research questions. Finally, researchers can utilize the machine learning models to predict the wrappings of a burial.</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
