@{
}

<div class="container">
    <h1 class="display-4 text-center m-2 p-2">Unsupervised Model</h1>
    <div class="row align-items-center">
        <div class="col-6">

            <img src="~/img/age_depth_wrapping.jpg" class="w-100" />

        </div>
        <div class="col-6">
            <div class="">
                <p>
                    The cluster plot to the right suggests that the Egyptians had consistent burial practices throughout the generations. The fact that the age at death does not affect the type of burial wrap implies that the wrapping technique was consistent across all ages. Additionally, the fact that children were buried in the same way as adults implies that the Egyptians did not have separate burial practices for children and adults.
                </p>
                <p>
                    The consistency in the wrapping technique across all ages and the fact that children were buried in the same way as adults imply that the Egyptians had consistent burial practices over generations. Additionally, the consistency in burial practices suggests that the Egyptians placed great importance on the preservation of the body, which was likely tied to their cultural and religious beliefs.
                </p>
            </div>
        </div>

    </div>

    <div class="row align-items-center">
        <div class="col-6">
            <p>
                The cluster plot shows that the orientation of the heads of the deceased individuals does not change much over time. The majority of the data points in the cluster plot have the head pointing in the same direction, regardless of the age at death. This suggests that there is a consistent tradition or belief system in place that dictated how the deceased were to be buried, and this tradition remained unchanged over generations.
            </p>
            <p>
                The data in the cluster plot is dispersed throughout the depth of which the person was buried, which represents how long ago the person was buried. This suggests that the burial practices remained consistent over time, and that there were no major shifts or changes in how the deceased were buried over the centuries.
            </p>
        </div>
        <div class="col-6">
            <img src="~/img/headdirection.png" class="w-100" />
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6">

            <img src="~/img/Preservation_Ageatdeath.jpg" class="w-100" />

        </div>
        <div class="col-6">
            <div class="">
                <p>
                    The associated cluster plot on the left helps to visualize more of the preservation that has occurred rather than the wrapping itself. This chart demonstrates that not a lot has changed throughout time in burial practice for the egyptians. None of the plots associated with the data are very conclusive. It is hard to come to any clear conclusion about burial practices over time given sparse or incomplete data.
                </p>
            </div>
        </div>

    </div>
</div>