html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*a {
    color: #4C8C99;
    transition: color 0.5s ease-in-out;
}
a:hover {
    color: #65B18C;
}

.custom-navbar-brand img {
    width: 50px;
}
.custom-navbar-brand:hover path {
    fill: #65B18C !important;
}

.custom-navbar {
    background-color: #C1B398;
    color: #61A6AB;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.custom-navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}

.custom-navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.custom-navbar-toggler {
    display: none;
}

.custom-navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-nav-item {
    margin: 0 10px;
}

.custom-nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #4C8C99;
}*/

/*.dropdown {
    font-size: 1.2rem;
    text-decoration: none;
    color: #4C8C99;
}
.dropdown:hover {
    color: #65B18C;
}*/

/*.dropdown {
    font-size: 1.2rem;
    text-decoration: none;
    color: #4C8C99;
    transition: color 0.5s ease-in-out;
}

.dropdown:hover {
    color: #65B18C;
}

@media (max-width: 767px) {
    .custom-navbar-toggler {
        display: block;
    }

    .custom-navbar-collapse {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #C1B398;
        padding: 20px;
        z-index: 99;
    }

    .custom-navbar-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .custom-nav-item {
        margin: 10px 0;
    }

    .custom-nav-link {
        font-size: 1.5rem;
        color: #605951;
    }

    .custom-navbar-collapse.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}*/

/*body {

    padding-top: 80px;
    background-color: #FBEEC2;
    margin-bottom: 60px;
    color: #605951;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

